.auth__form_button {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 358px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 2px;
    transition: 0.8s ease;
    margin: 176px 0 0;
    padding: 0;
}
  
.auth__form_button:hover {
    opacity: 0.85;
    cursor: pointer;
}