.header__menu-item {
    margin: 0;
    padding: 0;
    float: left;
    background-color: transparent;
    border: none;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
    cursor: pointer;
}

.header__menu-item:first-child {
    margin-right: 24px;
}

.header__menu-item:hover {
    opacity: 0.6;
}